@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

a, li{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10%;
}

.icon {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: bold;
  font-size: 20px;
}

.navlinks {
  list-style: none;
}
.navlinks li {
  display: inline-block;
  padding: 0px 20px;
  letter-spacing: 3px;
}
.navlinks li a {
  transition: all 0.3s ease 0s;
}
.navlinks li a:hover {
  color: #64f5ff;
}

.active {
  color: #64f5ff;
}

.content {
  color: #edf0f1;
  padding: 100px 10%;
}
h1 {
  font-weight: bold;
  letter-spacing: 2px;  
}

p {
  max-width: 75ch;
  line-height: 24px;
  letter-spacing: 1px;
  padding: 30px 0px;
}

.home {
  padding: 80px 10%;
}
.hello p {
  font-size: 72px;
  color: #edf0f1;
  font-weight: bold;
  letter-spacing: 2px;
}
.intro p {
  font-size: 28px;
  color: #edf0f1;
  letter-spacing: 1px;
  line-height: 40px;
  max-width: 40ch;
}