@import 'variables';

@mixin resetmp {
    margin: 0;
    padding: 0;
}

@mixin fontp {
    font-family: 'PT Sans', sans-serif;
    font-size: $sizeP;
    letter-spacing: $spaceP;
}

@mixin fonth1 {
    font-family: 'Open Sans', sans-serif;
    font-size: $sizeH;
    font-weight: bolder;
    letter-spacing: $spaceH
}

@mixin fonth1swiper{
    font-family: 'Playfair Display', serif;
    font-size: $sizeH;
    font-weight: lighter;
    letter-spacing: $spaceHswiper;
}

@mixin fonth1posttitle{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: $sizeH;
    letter-spacing: $spaceHposttitle;
}

@mixin fontppost{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    fint-size: $sizeP;
    letter-spacing: 0.1rem;
}

@mixin fonticon{
    font-family: 'Lobster', cursive;
    font-size: $sizeIcon;
    letter-spacing: $spaceIcon;
}