// Padding & Margin

$defPadding: 5rem;

// Sizing

$heightSwiper: 60vh;
$widthSwiper: 50vh;

// Fonts

$sizeH: 4.5rem;
$sizesH: 3rem;
$sizeP: 1.2rem;
$spaceH: 0.2rem;
$spacesH: 0.1rem;
$spaceP: 0.05rem;

// Colors

$primaryColor: rgb(27, 27, 25);
$secondaryColor: rgb(95, 95, 95);
$hoverColor: rgb(104, 247, 235);
$textColor: rgb(255, 255, 255);
$swiperColor: white;


$menuSpeed: 0.75s;

