// Padding & Margin

$defPadding: 5rem;

// Sizing

$heightSwiper: 60vh;
$heightSwiperResp: 48vh;
$widthSwiper: 50vh;
$widthSwiperResp: 40vh;

// Fonts

$sizeH: 4.5rem;
$sizeHpost: 2rem;
$sizesH: 3rem;
$sizeP: 1.2rem;
$sizeIcon: 2.5rem;
$spaceH: 0.2rem;
$spacesH: 0.1rem;
$spaceP: 0.05rem;
$spaceHswiper: 0.05rem;
$spaceHposttitle: 0.1rem;
$spaceIcon: 0.05rem;

// Paddings

$padding1080: 3rem;
$padding720: 2rem;

// Colors
$bgColor: rgba(0, 0, 0, 0.6);
$primaryColor: rgb(27, 27, 25);
$secondaryColor: rgb(95, 95, 95);
$hoverColor: rgb(104, 247, 235);
$textColor: rgb(255, 255, 255);
$swiperColor: white;


$menuSpeed: 0.75s;

