.navbar {
    height: 7.5vh;
    background: var(--primary-color);
    opacity: 1;
    display: flex;
    align-items: center;
}

.icon {
    color: white;
    padding-left: 5rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: bold;
    position: relative;
}    

.navlinks {
    display: flex;
    margin-left: auto;
    margin-right: 5rem;
    justify-content: space-around;
    width: 30%;
}

.navlinks li {
    list-style: none;
}

.navlinks a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
}

.navlinks a:hover {
    color: var(--hover-color);
}

.menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 7.5vh;
    height: 7.5vh;
    padding: 1.7vh;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger > div {
    position: relative;
    width: 80%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -7px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div:after {
    top: 7px;
}

.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--secondary-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vw;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    padding: 1rem;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.menu-wrap .menu > div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

@media(max-width:1080px) {
    .navlinks{width:40%}
}

@media(max-width:720px) {
    .menu-wrap{display: flex}
    .navlinks{display: none}
}