.preview {
    background-color: var(--primary-color);
    padding: 5rem;
}

.headrp {
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    color: white;
    margin-bottom: 2.5rem;
}

.swiper-container {;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: white;
}

/* 
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  } */

@media (max-width:1080px) {
    .preview{padding: 3rem}
}

@media (max-width:720px) {
    .preview{padding: 2rem}
    .headrp{font-size: 1.5rem}
}