:root {
  --primary-color: rgb(27, 27, 25);
  --secondary-color: rgb(95, 95, 95);
  --hover-color: rgb(104, 247, 235);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.05rem;
  line-height: 1.4;
}

.showcase {
  position: relative;
}

.background {
  background: url('../img/img01.jpg') no-repeat center center/cover;
  height: 90vh;
} 

.container {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  max-width: 100ch;
  height: 100%;
  justify-content: center;
  text-align: center;
  padding: 5rem;
  color: white;
}

.showcase h1 {
  font-size: 4.5rem;
  font-weight: bolder;
  text-align: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
}

.showcase p {
  font-size: 1.2rem;
  text-align: left;
  padding: 1.5rem 0;
}

.gradient {
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
  opacity: 0.85;
  width: 100%;
  height: 100%;
}

.bttop {
  display: block; /*edit later*/
  /* text-align: center; */
  margin: 0;
  padding: 0;
}

#bttop {
 display: none;
 cursor: pointer;
 position: fixed;
 bottom: 1vh;
 right: 1rem;
 z-index: 99;
 font-size: 2rem;
 text-align: center;
 width: 60px;
 height: 60px;
 font-weight: lighter;
 background-color: transparent;
 color: white;
 outline: none;
 border: none;
 border-radius: 50%;
 transition-duration: 0.2s;
 transition-timing-function: ease-in-out;
 transition-property: background-color, color;
}

#bttop:hover {
 /* background-color: white; */
 color: var(--secondary-color);
}

.tail{
  background-color: black;
  padding: 5rem;
  /* height: 100vh; */
  color: white;
}

.tail h3 {
  letter-spacing: 0.1rem;
}

.tail .contacts {
  margin-top: 3rem;
}

.socialmedia ul{
  margin-top: 0rem;
  text-transform: uppercase;
  display: flex;
  /* justify-content: space-between; */
}

.socialmedia li{
  padding-right: 2rem;
}

.socialmedia a {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.socialmedia a:hover {
  color: var(--hover-color);
}

.socialmedia li {
  list-style: none;
}

@media(max-width:1080px) {
  .container{padding: 3rem}
}

@media(max-width:720px) {
  .container{padding: 2rem}
  .icon{padding-left: 2rem}
  .showcase h1{font-size: 3rem}
  .showcase p{font-size: 1rem}
  .tail{text-align: center}
  .socialmedia ul{flex-direction: column}
  .socialmedia li{padding-right: 0}
}