@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

:root {
  --primary-color: rgb(27, 27, 25);
  --secondary-color: rgb(95, 95, 95);
  --hover-color: rgb(104, 247, 235);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
}

.showcase {
  position: relative;
}

.background {
  background: url('../img/img01.jpg') no-repeat center center/cover;
  height: 92.5vh;
} 

.container {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 70ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 5rem;
  color: black;
  max-width: 70ch;
  color: white;
}

.showcase h1 {
  font-size: 3.5rem;
  text-align: left;
  position: relative;
}

.showcase p {
  font-size: 1.2rem;
  text-align: left;
  padding: 1.5rem 0;
}

.gradient {
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
  opacity: 0.85;
  width: 100%;
  height: 100%;
}

/* .showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 92.5vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url('../img/img01.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.gradient {
  background-image: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.container {
  max-width: 70ch;
  margin: inherit;
  overflow: hidden;
  padding: 5rem;
  position: absolute;
}


.showcase .showcase-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: center;
  height: 100%;
  z-index: 1;
} */
/* 
.showcase h1 {
  font-size: 3.5rem;
  text-align: left;
  position: relative;
}

.showcase p {
  font-size: 1.2rem;
  text-align: left;
  padding: 1.5rem 0;
} */

.preview {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  background-color: var(--primary-color);
  color: white;
}

.blogpost {
  max-width: 60ch;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

.projectpost {
  color: red;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  max-width: 60ch;
}

.bttop {
  text-align: center;
  margin: 0;
  padding: 0;
}

#bttop {
 display: none;
 cursor: pointer;
 position: fixed;
 z-index: 99;
 font-size: 1rem;
 bottom: 2rem;
 text-align: center;
 width: 30px;
 height: 30px;
 font-weight: lighter;
 background-color: transparent;
 color: white;
 outline: none;
 border: 2px solid white;
 border-radius: 50%;
 transition-duration: 0.2s;
 transition-timing-function: ease-in-out;
 transition-property: background-color, color;
}

#bttop:hover {
 background-color: white;
 color: var(--secondary-color);
}