@import 'variables';
@import 'mixin';

* {
    @include resetmp();
    box-sizing: border-box;
}

body {
    @include fontp();
    line-height: 1.4;
    background-color: $primaryColor;
}

@import 'navbar';

.showcase {
        position: relative;
        h1 {
            position: relative;
            text-align: left;
            @include fonth1;
        }
        p {
            text-align: left;
            padding: 1.5rem 0;
            @include fontp;
        }
        .background {
            background: url('../img/img01.jpg') no-repeat center center/cover;
            height: 90vh;
        }
        .gradient {
            position: absolute;
            top: 0;
            right: 0;
            background-image: linear-gradient(to bottom, $secondaryColor, $primaryColor);
            opacity: 0.85;
            width: 100%;
            height: 100%;
        }
        .container {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            max-width: 100ch;
            height: 100%;
            justify-content: center;
            text-align: center;
            padding: $defPadding;
            color: $textColor;
        }
}
.preview {
    padding: $defPadding;
    height: 100vh;
    background-color: $primaryColor;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: 
    "box1 box4"
    "box2 box4"
    "box3 box4";
    .headrp {
        grid-area: box1;
        grid-row: 1/2;
        grid-column: 1/2;
        display: flex;
        align-items: flex-end;
        font-size: $sizesH;
        font-weight: bolder;
        color: $textColor;
        // margin-bottom: 1rem;
        font-family: 'Open Sans', sans-serif;
    }
    .moreposts{
        grid-area: box2;        
        color: $textColor;
        display: flex;
        align-items: center;
    }
    .morebox{
        grid-area: box3;
        display: flex;
        align-items: flex-start;
        #morebox {
            padding: 0.5rem;
            border-radius: 10px;
            border-style: solid;   
            border-color: $textColor;
            cursor: pointer;
            background-color: transparent;
            @include fontp();
            font-size: 1rem;
            font-weight: bold;
            color: $textColor;
            &:hover {
                background-color: $textColor;
                color: $primaryColor;
            }
        }
    }
    .swiper-container {
        grid-area: box4;
        width: 100%;
        display: flex;
        margin: auto;
        // padding-top: 50px;
        // padding-bottom: 50px;
    }
    .swiper-slide {
        position: relative;
        background-position: center;
        background-size: cover;
        width: $widthSwiper;
        height: $heightSwiper;
        // background: $swiperColor;
        img{
            width: 100%;
            height: 100%;
        }
        h1{
            position: absolute;
            color: $textColor;
            @include fonth1swiper;
            font-size: 2.5rem;
            bottom: 2rem;
            left: 2rem;
            right: 2rem;
        }
    }
}
    // for blogs.html

.blogscontainer{
    min-height: 100vh;
    padding: 5rem;
    background-color: $bgColor;
    .blogshead {
        align-content: center;
        h1 {
            position: relative;
            text-align: center;
            color: $textColor;
            @include fonth1;
        }
        .display{
            padding: 2rem;
            text-align: center;
            #blogsgrid{
                font-size: 2rem;
                margin: 0.2rem;
                cursor: pointer;
                width: 3.75rem;
                height: 3.75rem;
                background-color: transparent;
                border-radius: 10px;
                border-style: solid;
                border-color: $secondaryColor;
                outline: none;
                color: $secondaryColor;
                &:focus {
                    border-color: $textColor;
                    color: $textColor;
                }
            }
            #blogslist{
                font-size: 2rem;
                margin: 0.2rem;
                cursor: pointer;
                width: 60px;
                height: 60px;
                background-color: transparent;
                border-radius: 10px;
                border-style: solid;
                border-color: $secondaryColor;
                outline: none;
                color: $secondaryColor;
                &:focus {
                    border-color: $textColor;
                    color: $textColor;
                }
            }
        }
    }
    
    .blogPosts{
        display: grid;
        width: 100%;
        margin-top: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        img {
            width: 100%;
        }
        .post{
            color: $textColor;
            a{
                text-decoration: none;
                color: inherit;
            }
            h3{
                font-size: 1.5rem;
            }
        }
    }
}

// for about.html

.aboutcontainer{
    padding: $defPadding;
    color: $textColor;
    background-color: $bgColor;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 1fr;
    grid-template-areas: 
    "box1 box3"
    "box2 box3";
    grid-column-gap: 1rem;
    .aboutheader{
        display: flex;
        flex-direction: column;
        // background-color: grey;
        justify-content: center;
        grid-area: box1;
        h1{
            @include fonth1;
            font-size: 3rem;
        }
    }
    .desc{
        grid-area: box2;
        display: flex;
        flex-direction: column;
        max-width: 70ch;
        justify-content: center;;
        .resume{
            a{
                text-decoration: none;
                color: $hoverColor;
                font-weight: bold;
            }
        }
    }
    .pic{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-area: box3;
        img{
            width: 70%;
        }
    }
}

@import 'post';

@import 'bttop';
@import 'tail';

@media(max-width:1080px) {
    .showcase .container{padding: 3rem}
    .showcase .preview{padding: 3rem}
    .blogscontainer{padding: 3rem}
    .blogscontainer .blogPosts{grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));}
    .preview{margin-bottom: 2.5rem}
    .preview{height: 100%}
    .preview{justify-items: center}
    .preview{align-items: center}
    .preview{grid-template-rows: 1fr $heightSwiper 1fr}
    .preview{grid-template-columns: 1fr}
    .preview{grid-row-gap: 50px}
    .preview{grid-template-areas: 
        "box1"
        "box4"
        "box3"}
    .preview .moreposts{display: none}
    .preview .headrp{font-size: 2.5rem}
    .preview .headrp{margin-top: 10vh}
    .navbar .menu-wrap{display: flex}
    .navbar .navlinks{display: none}
    .navbar .icon{padding-left: 3rem}
    .blogPosts #prevtxt{display: none}
    .aboutcontainer{padding: 3rem;}
    .aboutcontainer .aboutheader{margin-bottom: 1rem;}
    .aboutcontainer .pic{margin-bottom: 3rem;}
    .aboutcontainer{grid-template-columns: 1fr;}
    .aboutcontainer{grid-template-areas:
        "box1"
        "box3"
        "box2"}
}

@media(max-width:720px) {
    .showcase .container{padding: 2rem}
    .blogscontainer{padding: 2rem}
    .blogscontainer .blogshead h1{font-size: 3rem}
    .blogscontainer .blogshead .display #blogsgrid{font-size: 1.5rem}
    .blogscontainer .blogshead .display #blogsgrid{width: 3rem}
    .blogscontainer .blogshead .display #blogsgrid{height: 3rem}
    .blogscontainer .blogshead .display #blogslist{font-size: 1.5rem}
    .blogscontainer .blogshead .display #blogslist{width: 3rem}
    .blogscontainer .blogshead .display #blogslist{height: 3rem}
    .blogscontainer .blogPosts .post{font-size: 1rem}
    .blogscontainer .blogPosts{grid-template-columns: repeat(1, minmax(100%, 1fr));}
    .blogPosts #prevtxt{display: none}
    .showcase h1{font-size: 3rem}
    .showcase .showcase p{font-size: 1rem}
    .tail{text-align: center}
    .tail .socialmedia ul{flex-direction: column}
    .tail .socialmedia li{padding-right: 0}
    .preview{padding: 2rem}
    .preview .headrp{font-size: 2rem}
    .navbar .navlinks{width:40%}
    .navbar .icon{padding-left: 2rem}
    .aboutcontainer{padding: 2rem;}
}
