@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

:root {
  --primary-color: rgb(27, 27, 25, 0.75);
  --secondary-color: rgba(73, 75, 82, 0.918);
  --hover-color: rgb(104, 247, 235);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 70ch;
  margin: inherit;
  overflow: hidden;
  padding: 5rem;
}

.showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 92.5vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url('../img/img03.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 3.5rem;
  text-align: left;
  position: relative;
}

.showcase p {
  font-size: 1.2rem;
  text-align: left;
  padding: 1.5rem 0;
}

.preview {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  background-color: var(--secondary-color);
  color: white;
}

.blogpost {
  max-width: 60ch;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

.projectpost {
  color: red;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  max-width: 60ch;
}

#bttop {
 display: none;
 cursor: pointer;
 position: fixed;
 z-index: 99;
 bottom: 10px;
 right: 10px;
 font-size: 1rem;
 width: 30px;
 height: 30px;
 font-weight: lighter;
 background-color: transparent;
 color: white;
 outline: none;
 border: 2px solid white;
 border-radius: 50%;
 transition-duration: 0.2s;
 transition-timing-function: ease-in-out;
 transition-property: background-color, color;
}

#bttop:hover {
 background-color: white;
 color: var(--secondary-color);
}